.circle {
	display: block;
	border-radius: 50%;
	text-align: center;
}

.inline-circle {
	display: inline-block;
	height: 2em;
	width: 2em;
	border-radius: 50%;

	line-height: 2em;
	text-align: center;

}

.shadow-rainbow {
	box-shadow: 0 0 0 10px purple, 
				0 0 0 20px blue, 
				0 0 0 30px green, 
				0 0 0 40px yellow, 
				0 0 0 50px orange, 
				0 0 0 60px red, 
				8px 8px 3px 60px rgba(0, 0, 0, 0.4);
}

.rectangle-rounded {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	padding: 20px;
}

.size-200px {
	height: 200px;
	width: 200px;
	line-height: 200px;
}

.size-100px {
	height: 100px;
	width: 100px;
}

.size-75pc {
	height: 75%;
	width: 75%;
}

.border-yellow {
	border: 5px solid yellow;
}

.border-silver {
	border: 5px solid silver;
}


.red {
	color: white;
	background-color: red;
}

.green {
	color: white;
	background-color: green;
}

.blue {
	color: white;
	background-color: blue;
}

.light-blue {
	color: white;
	background-color: lightblue;
}

.white {
	color: black;
	background-color: white;
}

html {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body > * {
	margin: 20px;
	position: relative;
}

.big-margins {
	margin: 100px;
}